@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 25px;
}
